/* General */

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: grey;
}

main {
    padding-top: 100px; 
}

img {
    width: 100%
}

footer {
    background-color: #00439c;
    color: white;
}

/* Utilies */

.text-grey {
    color: grey;
}

/* Header */

#fixed {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
}

#upper-header {
    width: 100%;
    background-color: black;
    padding: 8px 10px;
    height: 40px;
    display: flex;
    justify-content: right;
}

#upper-header img {
    width: 20%;
}

header i {
    font-size: 12px;
}

#bottom-header {
    width: 100%;
    height: 70px;
    padding: 0 20px;
    background-color: #fff;
}

.menu-header {
    line-height: 50%;
}

.fa-bars {
    color: gray;
    padding: 4px 6px;
    border-radius: 2px;
    border: 1px solid lightgray;
    font-size: 25px;
}

#log-in {
    background-color: gray;
    color: white;
    border-radius: 18px;
    padding: 8px;
}

#logo-header {
    width: 60px
}


/* Main */

.jumbotron {
    height: 675px;
    background-image: url(../img/jumbo-bg.png);
    background-position: top;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

#jumbotron-img {
    width: 20%;
}

#jumbo-content {
    color: white;
    font-size: 18px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 30px;
}

#jumbo-content h1 {
    font-size: 50px;
    margin-bottom: 40px
}

#jumbo-content img {
    width: 350px;
    margin-bottom: 40px;
}

#jumbo-content p {
    width: 300px;
    margin-bottom: 50px
}


/* 6 card section (second section)*/

.column img{
    width: 100%;
    border-radius: 20px;
    transition-duration: 0.3s;
    transition: border 0s;
}

.column {
    padding: 25px 5px; 
}

/* Third section (PS5) */

.playstation > a {
    color: blue;
}

.playstation > h1 {
    margin: 25px;
}

.playstation > h4 {
    color: grey;
}

.console img{
    width: 100%;
}

.ps5-opacity {
    filter: opacity(0.6);
}

/* ittakestwo */

#ittakestwo {
    height: 755px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#ittakestwo img {
    width: 37%;
    margin: 30px 0;
}

#ittakestwo-content {
    color: white;
    padding: 15px;
}

#ittakestwo-content h1 {
    margin: 35px 0;
    font-size: 45px;
}

#ittakestwo-content p {
    margin: 35px 0;
    font-size: 18px;
}

/* New */

#bg-grey {
    color: #fff;
    padding-top: 50px;
    background-color: #1f1f1f;
}

/* PS4 */

#container-play4 {
    margin: 50px 0 10px 0;
}

/* Ps Plus*/

#bg-plus {
    height: 380px;
    background-color: #7f7f7f;
    margin: 50px 0;
    padding-left: 20px;
}

#plus-logo {
    width: 60%;
}

#button-plus {
    padding: 10px;
    border-radius: 20px;
    color: blue;
    background-color: #cccfd1;
    margin-top: 20px;
}

#plus-img img {
    width: 390px;
    height: 380px;
    margin: 0;
}

#img-container {
    width: 87.5%;
}

#bg-plus p {
    margin: 40px 0;
    color: white;
}

/* PS Now */

#bg-now {
    background-color: #161c3b;
    height: 400px;
    color: white;
}

#logo-now {
    width: 65%
}

#button-now {
    padding: 10px;
    border-radius: 20px;
    color: black;
    background-color: #cccfd1;
    margin-top: 20px;
}

#bg-now p {
    margin: 40px 0;
}

#img-container-now {
    width: 380px;
}

#img-container-now img{
    height: 400px;
    width: 390px;
    margin: 0;
}

/* Footer */


#logo-footer {
    width: 20%;
    margin-top: 40px;
}

footer a {
    color:white;
}

footer ul {
    margin: 25px 0;
    line-height: 200%;
}

#sie-logo {
    width: 250px;
    margin-top: 50px;
}

#margin-top {
    margin-top: 25px;
}

/* Effects on hover */

#bottom-header li:hover a {
    color: black;
}

#second-section .column:hover img {
    transform: translatey(-7px);
}

.btn-primary:hover {
    box-shadow: -1px 0 dodgerblue, 0 1px dodgerblue, 1px 0 dodgerblue, 0 -1px dodgerblue;
    border: 1px solid white;
}

.btn-secondary:hover {
    box-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
    border: 1px solid white;
    color: white;
}

.btn-danger:hover {
    box-shadow: -1px 0 #dc3545, 0 1px #dc3545, 1px 0 #dc3545, 0 -1px #dc3545;
    border: 1px solid white;
}

.md-calc > .img-store-ps5:hover > img {
    filter: opacity(0.95);
    border-bottom: 2px solid dodgerblue;
}

/* Effects on active */

#second-section .column:active img {
    border: 2px solid dodgerblue;
}


/* Media query */

@media screen and (min-width: 768px) {
    .md-calc {
        width: calc( 100% / 5 );
    }
}