/* General */

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    padding: 5px 8px;
    color: black;
}

/* Header */

#upper-header {
    background-color: black;
    padding: 8px 10px;
    height: 40px;
    display: flex;
    justify-content: right;
}

#bottom-header {
    height: 90px;
    padding: 5px 20px;
}

.menu-header {
    line-height: 50%;
}

.fa-bars {
    color: gray;
    padding: 4px 6px;
    border-radius: 2px;
    border: 1px solid lightgray;
    font-size: 25px;
}

#log-in {
    background-color: gray;
    color: white;
    border-radius: 15px;
}

.fa.magnifying-glass {
    color: gray;
}

#logo-header {
    width: 60px
}

/* Main */

#jumbotron {
    height: 675px;
    background-position: center;
    background-image: url(../img/jumbo-bg.png);
    position: relative;
}

#jumbotron-img {
    width: 20%;
}

#jumbo-content {
    color: white;
    padding: 20px;
    font-size: 18px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#jumbo-content h1 {
    font-size: 50px;
    margin-bottom: 40px
}

#jumbo-content img {
    width: 350px;
    margin-bottom: 40px;
}

#jumbo-content p {
    width: 300px;
    margin-bottom: 50px
}

#buy-now {
    background-color: crimson;
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
}